html {
  background-color: green;
  font-size: 20px;
}

h1 {
  color: red;
  font-size: 55px;
}

#myProgress {
    width:400px;
    background-color: #ddd;
}
 
#myBar {
    width:400px;
    height:30px;
    background-color: #30cf42;
}
