html {
  background-color: orange;
  font-size: 20px;
}

ul {
  background: blue;
  padding: 10px;
  border: 1px solid black;
  color: #92B3B7;
  font-weight: bolder;
}

li {
  margin-left: 20px;
}

button {
  size: 20px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}
